[2018-02-07 14:38] lucascolette opened #5 "Laravel 4.2 Support"
Hi!

The Package `eyewitness/eye4` has been deleted?

[2018-02-07 14:46] laurencei commented on #5
Hi Lucas,

Sorry - yes, but that was a mistake during the deployment of the new beta.

I'll get it back ASAP.

[2018-02-07 14:48] lucascolette commented on #5
Ok, thanks Laurence!

<https://mailtrack.io/> Sent with Mailtrack
<https://chrome.google.com/webstore/detail/mailtrack-for-gmail-inbox/ndnaehgpjlnokgebbaldlmgkapkpjkkb?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality>

2018-02-07 12:46 GMT-02:00 Laurence Ioannou <notifications@github.com>:

--
Lucas Colette
16 3341 8797 | 16 9 9747 4200

[2018-02-07 15:10] laurencei commented on #5
@lucascolette - ok its back.

Sorry about that :)

[2018-02-07 15:10] #5 closed

[2018-02-07 20:22] doubleoh13 opened #6 "Cannot use with SQL Server"
The SQL functions called in the Eyewitness\Eye\Tools\ChartTransformer class cause exceptions due to utilizing database specific functions, specifically date and the group by condition.

[code]

T-SQL doesn't have a DATE() function and won't group based on the aliased column name.
The migrations are also causing a problem with SQL Server. Server reports that type nvarchar is invalid for AVG() funct

[2018-02-07 20:24] laurencei commented on #6
Ok - thanks @doubleoh13.

To be honest I've not used SQL server, so that's why it was missed.

 I'll look into it today and we will definetely support it ASAP.

[2018-02-07 22:52] mikemand opened #7 "Error running eyewitness:install"
While trying to "run initial checks", I received the following error:

[code]

My environment:
* Laravel 5.4
* PHP 7.2
* MySQL 5.7.21

[2018-02-07 23:03] laurencei commented on #7
Thanks @mikemand,

I've just pushed an update. Can you pull down the latest version and try again? (You will need to refresh the database to re-run the migrations).

Also - can I clarify - did you modify the config file at all before the installation? Or was this a brand new install?

[2018-02-07 23:06] mikemand commented on #7
Hi @laurencei,

Thank you for the quick reply!

I did modify the config file; I ran `composer require` on my local machine, added `env('APP_DOMAIN')` so the environments domain will be in the list of domains (see below) and pushed everything up with git so Forge will deploy.

[code]

[2018-02-07 23:07] laurencei commented on #7
it looks like `env('APP_DOMAIN')` is returning `""` though? i.e. the value is blank from what I can see in your error log above.

Can you check and let me know?

[2018-02-07 23:08] mikemand commented on #7
Aha! You are correct. That would be my fault. I thought `APP_DOMAIN` was a valid env key. I've set it and after forcing a poll it seems to have worked.

[2018-02-07 23:11] laurencei commented on #7
Ok cool.

In saying that - I'll add a check to detect empty/bad values, so people dont have this problem in the future.

Thanks!!

[2018-02-07 23:11] #7 closed

[2018-02-08 13:33] OllyCampbell opened #8 "Call to undefined method Symfony\Component\Process\ProcessUtils::escapeArgument()"
I'm having an issue getting the fresh out of the box implementation of Eyewitness to work with Laravel 5.6 on PHP 7.2 and get the following error when trying to run the scheduler
[code]
I think it may stem back to the fact Laravel 5.6 requires Symfony 4 which has deprecated the ProcessUtils::escapeArgument() method as mentioned here: https://github.com/laravel/framework/issues/21281

[2018-02-08 22:32] laurencei commented on #8
Hmmm. I did test this on Laravel 5.6 last week (before the formal release) and had no issues - but I'll look into it now, something might have changed since.

[2018-02-09 01:08] mikemand opened #9 "Queue stats not available"
Hi again. I've been using Eyewitness for a little over a day now, and I've noticed that the queue stats are not being tracked. The monitor is also saying the queue is offline, even though it isn't. See below for screenshots.

![screen shot 2018-02-08 at 6 03 35 pm](https://user-images.githubusercontent.com/745184/36006528-b4f23550-0cfa-11e8-8368-60dce939f839.png)
![screen shot 2018-02-08 at 6 03 4

[2018-02-09 10:07] OllyCampbell commented on #8
Just to add a bit more information here, I'm using the latest version of Homestead as the development environment. I've tested with PHP 7.1 and 7.2 with Laravel 5.6 with no success. However, it does work for me using Laravel 5.5.

The full stacktrace is
[code]

[2018-02-09 13:51] laurencei commented on #9
Can you try changing the following in your `.ENV` file

`EYEWITNESS_DEBUG=true`

Then make sure you run `queue:restart` and also `config:cache` (if you have cached config).

Then after a short time - see if anything appears in your log files? The debug mode shows up extra things that might help point to the cause.

Also - can you please let me know the full queue command you are running? i.e. `que

[2018-02-09 15:01] laurencei commented on #8
Thanks @OllyCampbell .

I've pushed an update. Can you grab the latest version and try again? It should work now...

[2018-02-09 15:16] OllyCampbell commented on #8
👍  All sorted!

[2018-02-09 15:16] #8 closed

[2018-02-09 23:34] mikemand commented on #9
Hi @laurencei,

I enabled debug mode about 20 minutes ago and (after restarting my queue) ran `php artisan eyewitness:poll --force` to force an update. There is nothing from eyewitness in my logs.

My queue command is: `php /home/forge/website.com/artisan queue:work beanstalkd --sleep=15 --daemon --quiet --timeout=60 --env=production --queue=default`

[2018-02-10 00:00] laurencei commented on #9
Thanks. Can I ask what PHP version and Laravel version you are running as
well?

And just confirming you also ran “config:cache” (if needed) and
“queue:restart” as well?

[2018-02-10 00:04] mikemand commented on #9
[code]

I cannot cache my config, as I have a couple of closures in one of the config files. But yes, I did restart the queue.

[2018-02-10 00:12] laurencei commented on #9
Sorry, one last question; what cache driver are you using?

I’m going to try to replicate the situation today

[2018-02-10 00:22] mikemand commented on #9
Hi @laurencei,

Not a problem. :) Cache is actually currently set to `array`.  That's one area that I haven't had time to figure out yet, lol.

[2018-02-10 00:36] mikemand commented on #9
This may or may not be related, but the DNS and SSL monitors are not working either:

![screen shot 2018-02-09 at 5 31 07 pm](https://user-images.githubusercontent.com/745184/36056137-162b5b16-0dbf-11e8-8038-7b8d57745828.png)
![screen shot 2018-02-09 at 5 31 24 pm](https://user-images.githubusercontent.com/745184/36056141-179d0012-0dbf-11e8-89f5-5b2294c9ed7e.png)

The schedule is working great, ho

[2018-02-10 07:52] laurencei commented on #9
Thanks @mikemand,

The `array` cache system is only designed for development. It literally is cleared at the end of each cycle.

If you've not choosen a cache, then for now `file` would probably be fine, although if you have `redis` on your server, I highly recommend that. `memcache` is also great.

If you could try changing to one of those, then restarting the queues, that should fix the problem

[2018-02-10 13:41] axtg opened #10 "Not created: eyewitness_io_statuses"
Hi,

I just installed your package via Composer, but ran into trouble.
First off I needed to set Schema::defaultStringLength(); due to database limitations locally (on MySQL). I then cleaned the failed install and ran the install command again.

[X] All migrations succeeded (so the installer said)
[X] API keys were created
[ ] The test showed that [db].eyewitness_io_statuses and history_monitors w

[2018-02-11 07:27] laurencei commented on #10
Thanks @axtg,

I've pushed a change so no default schema length is over 191 now. This should remove the need to add `Schema::defaultStringLength()`. Do you mind checking if this is correct? I'm keen for people to be able to install the package in any situation without any code changes.

In regards to the missing table - I'm going to assume that was related to the database error. I cant see any oth

[2018-02-11 07:56] mikemand commented on #9
Hi @laurencei. I'm sorry it took me so long to get back to you.

I have set up `redis` for cache (Forge already has it installed and running; it seems like all I had to do was install the `predis/predis` package and change my `CACHE_DRIVER` env variable to `redis`). It has been running that way for a couple hours now, without any change to the queue stats, SSL, or DNS outputs.

[2018-02-11 08:35] axtg commented on #10
Indeed, as expected, the defaultStringLength() glitch broke the installer and thus it's migrations. I did a clean install with the latest changed and confirmed it working all the way through. Closing.

[2018-02-11 08:35] #10 closed

[2018-02-13 07:06] mikemand commented on #9
Hi @laurencei. New developments! It appears sometime yesterday that my queues started remembering the number of jobs they did.

![screen shot 2018-02-13 at 12 02 51 am](https://user-images.githubusercontent.com/745184/36137223-736dd422-1051-11e8-839a-01b1a14e5617.png)

SSL and DNS are still not working properly, and I now have a few duplicates in the Scheduler:

![screen shot 2018-02-13 at 12 05 2

[2018-02-13 07:15] laurencei commented on #9
Hi @mikemand,

Did you re-install eyewitness and/or generate new token keys? The eyewitness commands are scheduled based upon your auto-generated tokens - so that would explain why they've been duplicated?

[2018-02-13 07:51] mikemand commented on #9
I did not reinstall, but I may have run the `regenerate` command. I can't remember, sorry. :(

[2018-02-14 14:03] xembill opened #12 "Assets not found!"
eyewitness.css and eyewitness.js assets file not found.

[2018-02-14 15:06] 36864 opened #13 "Conditional shceduled tasks show incorrect Error status"
I have a conditional task in my scheduler defined as such:
[code]

Now, this doesn't actually run very often, but I need it to check if it needs to run every minute. The result is that eyewitness sees a job that should run every minute, but doesn't run for long periods of time and displays the job's status as Error in the dashboard view, even though everything is working as intended and no jobs ha

[2018-02-15 08:44] laurencei commented on #13
Hmm... it's tricky. Part of the problem is what happens if this job actually never runs, if we disable the alert for it, you will never ever know the job has stopped working.

Personally - I'm not entirely sure the "logic" of notifications should be in your scheduler. i.e. what is wrong with just `$schedule->job(new SendNotificationEmails)->everyMinute()`? Then let the job itself decide what to do

[2018-02-15 08:46] laurencei commented on #12
Hi @xembill ,

Do you mind providing some more information about the exact error you are getting? The compliled `.css.` and `.js. files are included in the package, and we have special routes to them, so it should work out of the box.

[2018-02-15 08:57] laurencei commented on #9
No dramas. I am 99% sure the duplicated schedules are from the regenerate command.

In regards to the DNS + SSL - what does `dd(config('eyewitness.application_domains'))` show?

[2018-02-15 09:27] xembill commented on #12
`https://*********.info/eyewitness/asset/1518612813/eyewitness.css`
its just not found. maybe my nginx or htaccess file broken I dont know why.

[2018-02-15 10:28] laurencei commented on #12
I think your server config is not sending all 404's or `.css/.js` through to Laravel. The css and js are actually provided by a route.

I might add an option to publish the files for this situation

[2018-02-15 10:33] xembill commented on #12
I change my nginx settings and works!
delete =>  `location ~* \.(jpg|jpeg|gif|css|png|js|ico|html)$ {
		expires max;
}`

But maybe assets file will publishable

[2018-02-15 10:33] #12 closed

[2018-02-15 13:19] 36864 commented on #13
The point of conditional task scheduling is to not clog up the queue with jobs that aren't gonna run anyway.

I understand that there probably isn't a good way to monitor these cases, which is why I suggested allowing a user to set a job as "conditional" as a way to say "Don't worry about this job if it doesn't run for a long time, but do still notify me if it it fails when it does run".

[2018-02-16 07:24] laurencei commented on #13
Ok - gotcha.

In that case you can go to the settings option of that scheduler and set `Send alert if cron schedule is missed` to false.

You will still get an alert if the job exits with an error - but no alert will be sent if/when the job doesnt run at all.

Can you try and and confirm it does what you need?

[2018-02-16 09:46] 36864 commented on #13
I do have that option disabled, and I don't get any notifications, but on the dashboard, the displayed status is still ERROR.

I did try setting it to On for a few minutes, and I still didn't get any notifications - possibly a separate issue entirely, or maybe a behavior that suggests something is being called (meaning the schedule isn't missed) but since no jobs are dispatched, Eyewitness still t

[2018-02-16 09:49] laurencei commented on #13
What happens is Eyewitness will wait for it to become "active", then if/when it misses and becomes "fail" again - it will alert you. i.e. it already knows it was failed, so it wont re-alert you.

But I understand now about the "failed" message. I'll look into another way to display it.

[2018-02-17 11:06] laurencei commented on #9
@mikemand - due to a different issue, I might have another idea. We just updated the official docs to clarify that the `application_domains` setting must be a full url - not just the domain name.

So for example you need:

[code]

For more see here: https://docs.eyewitness.io/configuration/general#domains

Can you let me know if that resolves the issue for you? Thanks

[2018-02-17 21:54] mikemand commented on #9
That worked for DNS! I'm going to go ahead and let the scheduler do its thing for SSL. Should be checked within the next 20 minutes, so I will edit this comment when I know the results. :)

[2018-02-17 22:13] mikemand commented on #9
As an aside, you could make the default `application_domains` be:

[code]

[2018-02-17 22:13] #9 closed

[2018-02-18 02:29] mavrck opened #15 "ERROR: syntax error at or near "day""
Hey all,

I'm not sure if I'm doing anything wrong, but I'm having issues getting things setup. After entering the creditials and hitting the dashboard route throws errors for me. The eyewitness_io_history_monitors table does exist and has a few rows in it.

Let me know what other information I can provide to help track this down.

Thanks!

-----------

Error:
`SQLSTATE[42601]: Syntax error: 7 ERR

[2018-02-18 02:35] mavrck commented on #15
<img width="1050" alt="screen shot 2018-02-17 at 9 20 30 pm" src="https://user-images.githubusercontent.com/2243265/36347647-6652d83c-142a-11e8-9541-65fc26cb2c53.png">

[2018-02-18 03:23] laurencei commented on #15
Thanks - I'm looking into it now and will get back to your shortly.

[2018-02-18 03:30] laurencei commented on #15
Ok - I think this is how Postgres handles SQL aggregate stuff slightly different to mySQL. It is actually a similar issue to https://github.com/eyewitness/eye/issues/6

I've got an idea how to solve both - so I'll get it done and push an update today for everyone.

[2018-02-18 12:26] laurencei commented on #9
thanks @mikemand - that's a good idea - I've made that change.

[2018-02-18 12:29] laurencei commented on #6
@doubleoh13 - I've just pushed an update that now uses Laravel collections to do all the logic, so there is no longer a reliance on the database.

Do you mind grabbing the latest version of the beta and trying again? I think this should solve the issue for you.

[2018-02-18 12:29] laurencei commented on #15
@mavrck - I've just pushed an update that now uses Laravel collections to do all the logic, so there is no longer a reliance on the database.

Do you mind grabbing the latest version of the beta and trying again? I think this should solve the issue for you.

[2018-02-18 13:42] PKeidel commented on #15
Problem is fixed with the latest commit, thanks for your fast reaction.

[2018-02-18 16:26] mavrck commented on #15
Thanks @laurencei! Looks good to me now.

[2018-02-18 16:27] #15 closed

[2018-02-19 13:42] doubleoh13 commented on #6
@laurencei - that did work.

[2018-02-19 13:42] #6 closed

[2018-02-22 15:15] PKeidel opened #16 "undefined index: 'information' in Ssl.php:162"
Hi, I've activated the SSL check and it gives me this error in my logfile:

undefined index: 'information' in app/Monitors/Ssl.php:162

https://github.com/eyewitness/eye/blob/beta/app/Monitors/Ssl.php#L162

When i'm home I can `dd($result)` to see whats inside to give you some more information.

[2018-02-23 00:49] laurencei commented on #16
Thanks @PKeidel,

Yeah - if you can capture the output of `dd($result)` and send to me, that would be a big help. To reach that point, it means the SSL certificate got a valid response from the API. The API says that all those fields are always provided, so I'll be interested to see whats going on.

As this will contain potentially sensitive information about your certificate - it might easier to

[2018-02-23 00:51] laurencei commented on #16
Actually - you would probably need to do `\Log::info(print_r($result, true)));` inside the function to capture it, since it'll run in the background.

[2018-02-23 19:58] PKeidel commented on #16
I just send you an email with the output, the `certificates` array is completely empty.

[2018-03-03 13:44] indigoram89 opened #17 "ERR value is not an integer or out of range"
`Predis\Response\ServerException ERR value is not an integer or out of range
    vendor/predis/predis/src/Client.php:370 Predis\Client::onErrorResponse
    vendor/predis/predis/src/Client.php:335 Predis\Client::executeCommand
    vendor/predis/predis/src/Client.php:314 Predis\Client::__call
    vendor/laravel/framework/src/Illuminate/Redis/Connections/Connection.php:96 Illuminate\Redis\Connections

[2018-03-04 04:59] laurencei commented on #17
Thansks @indigoram89 ,

I've looked into it. I've got some theories why - but can you clarify the following for me to help pinpoint the issue;

1. Was this on a new install of Eyewitness - or have you been using it for a few days/weeks without issue?
2. Your PHP and Laravel versions.
3. Was this a one-off error - or does it keep occuring?

I'll then get a fix implemented ASAP.

[2018-03-05 06:47] indigoram89 commented on #17
1. I use Eyewitness for a few days and without problem. After we move our project to another server provider and this error began to appear every day:
2. PHP 7.2 and Laravel 5.5.36 (using laravel forge and envoyer).
3. Information on screenshot:

<img width="667" alt="2018-03-05 12 13 53" src="https://user-images.githubusercontent.com/10687211/36960938-2b51cc92-206f-11e8-8f29-11bd50cdd722.png">

[2018-03-08 19:40] indigoram89 commented on #17
@laurencei, yes, I try tomorrow.

[2018-03-08 19:41] indigoram89 opened #18 "Maximum execution time of 30 seconds exceeded"
<img width="759" alt="2018-03-08 22 40 17" src="https://user-images.githubusercontent.com/10687211/37172421-c654bf42-2321-11e8-99b8-f280f1900351.png">

[2018-03-08 19:41] indigoram89 commented on #18
I can't open dashboard.

[2018-03-09 02:24] laurencei commented on #18
Hi @indigoram89 - I'm sorry about this.

I know the general cause is due to a O(n) vs O+1 issue - but I'm not exactly sure where it is.

Would it be at all possible for you to dump all the "eyewitness_*" tables in your database - and send through to me laurence@eyewitness.io as a zip?

I can then recreate the issue here and send a patch through immediately to fix the problem.

[2018-03-09 06:49] indigoram89 commented on #18
@laurencei, yes I sent it for you.

[2018-03-11 07:04] laurencei commented on #18
@indigoram89 - ok, I've found the issue. If you update to the latest package version - it should work.

[2018-03-11 07:10] indigoram89 opened #19 "SSL API invalid result"
<img width="995" alt="2018-03-11 10 09 34" src="https://user-images.githubusercontent.com/10687211/37250757-5916d16e-2514-11e8-9e6b-cbdda01afafb.png">

[2018-03-11 07:10] indigoram89 opened #20 "Undefined property: Eyewitness\Eye\Queue\Jobs\Sonar::$end_time"
<img width="975" alt="2018-03-11 10 10 22" src="https://user-images.githubusercontent.com/10687211/37250758-78e521e4-2514-11e8-9024-750267042a7e.png">

[2018-03-11 07:14] laurencei commented on #20
Thanks @indigoram89 -  I've just pushed a patch right now that will fix this exact issue.

[2018-03-11 07:27] laurencei commented on #16
This issue has been identified and fixed in the latest version today. Essentially what occured was the website firewall was blocking the certificate check, causing some variables to not be available.

[2018-03-11 07:27] #16 closed

[2018-03-11 07:29] laurencei commented on #19
Thanks @indigoram89 - are there any further details in the "breadcrumbs" etc? Part of the log should contain the array of the `$result` that was invalid:

`$this->eye->logger()->error('SSL API invalid result', print_r($result, true), $domain);`

If you want to email it to me if it contains personal data - I can work out why it failed: laurence@eyewitness.io

Of if you are happy to post it here - I

[2018-03-11 08:17] indigoram89 commented on #20
@laurencei, thank you!

[2018-03-11 08:35] indigoram89 commented on #19
@laurencei I don't have any logs for this error. But I have exception for error "Eyewitness: Unable to start SSL scan":

![img-2018-03-11-11-34-31](https://user-images.githubusercontent.com/10687211/37251393-55ee898a-2520-11e8-9198-f7fda0d07814.png)

[2018-03-11 08:37] indigoram89 commented on #19
@laurencei maybe this information can be useful:

![img-2018-03-11-11-36-30](https://user-images.githubusercontent.com/10687211/37251402-8e3a7312-2520-11e8-83ae-45202b720a70.png)

[2018-03-11 08:39] #20 closed

[2018-03-11 08:46] laurencei commented on #19
Thanks.

Just to confirm - the scan has been working before this ok? And has it been working ok afterwards?

Looking at the logs, and looking at the code - I have a feeling this was a temporarily unavailablilty of the SSL API scanning endpoint...

[2018-03-11 10:54] indigoram89 commented on #19
@laurencei it was a week ago. I disable SSl scan for me.

[2018-03-13 10:09] laurencei commented on #19
@indigoram89 - if you get a chance - can you try and reanble and see what happens?

It looks like a temporary error here, or perhaps a firewall blocking?

[2018-03-14 09:32] ErnestStaug opened #21 "Unable to send Database notification"
Hello,

I'm getting this error quite few times a day :)

[code]

Any ideas how to solve it?

[2018-03-14 11:59] indigoram89 commented on #19
@laurencei ok

[2018-03-14 11:59] indigoram89 commented on #21
a have this error too

[2018-03-14 12:00] indigoram89 commented on #18
@laurencei thank you, problem is resolved

[2018-03-14 12:01] indigoram89 commented on #17
@laurencei the error is not repeated yet :)

[2018-03-14 12:16] ErnestStaug opened #22 "History of schedules doesn't work"
Hello,

I've noticed that `scheduler` history part doesn't work.

If the process running more often than every 6h for 2 months it just gives me `500 error` when ever I try to access the information about scheduled task (e.g. `eyewitness/schedulers/1`).

It  seems that it's trying to load all the records at once and it takes too long and just times out.
( Possible fix? Split records to `50 limit`

[2018-03-14 13:13] CaptainHypertext opened #23 "Log file filled up with Unable to map the Failed Job"
We've been trying out Eyewitness with our CRM app.  Since putting it up on our staging server, the log file has been filled up with 50 MB of this statement:

`
Eyewitness: Unable to map the Failed Job {"exception":"unserialize() expects parameter 1 to be string, object given","data":null}
`

Any idea what this means?  Is this something perhaps on our end, or eyewitness?  We're running Laravel 5.2

[2018-03-14 18:35] indigoram89 opened #24 "Trying to get property 'created_at' of non-object"
<img width="1111" alt="2018-03-14 21 34 35" src="https://user-images.githubusercontent.com/10687211/37423710-98530f1a-27cf-11e8-8c76-61a21f116f5b.png">

[2018-03-15 15:30] CaptainHypertext opened #25 "Call to undefined function Eyewitness\Eye\Notifications\resolve()"
When I add myself as a recipient and try to send a test via email, I get this error:
`Call to undefined function Eyewitness\Eye\Notifications\resolve() in /vendor/eyewitness/eye/app/Notifications/Notifier.php at line 46`

I'm on Laravel 5.2, my version is dev-beta

[2018-03-15 17:07] vehcklox commented on #21
I am getting this issue as well. It is happening for email notifications.

[code]

[2018-03-18 23:45] laurencei commented on #25
Hi @CaptainHypertext - I've just pushed a commit that will fix this.

If you grab the latest version of the package - it should work correctly.

[2018-03-18 23:56] laurencei commented on #24
Thanks @indigoram89 - I've just pushed a commit that will fix this issue from occuring again.

[2018-03-18 23:56] #24 closed

[2018-03-18 23:56] #25 closed

[2018-03-18 23:57] #18 closed

[2018-03-18 23:57] #17 closed

[2018-03-19 00:40] laurencei commented on #23
Hi @CaptainHypertext - I've just pushed a commit that will address this.

The most likely cause is a unique payload on the job that we cant decode. The new version will ensure that it doesnt spam your logs, and continues on grarefully. When this occurs - you can still view all details about the payload on Eyewitness - but it'll be the raw data, rather than the nicer looking decoded version.

[2018-03-19 00:40] #23 closed

[2018-03-19 00:44] laurencei commented on #21
Hi everyone - this has been fixed in a patch that was pushed today.

If you update to the latest version it should be solved (we were trying to display a time that might not be in the database, and is not actually needed anyway).

Please let me know if you run into any further issues.

[2018-03-19 00:44] #21 closed

[2018-03-19 00:45] laurencei commented on #19
Hi @indigoram89 - just touching base - did the SSL Checks start working for you again?

[2018-03-19 09:37] indigoram89 opened #26 "Unable to map the Failed Job"
<img width="1015" alt="2018-03-19 12 37 14" src="https://user-images.githubusercontent.com/10687211/37588109-4d52c18a-2b72-11e8-8d32-29c61b155da7.png">

[2018-03-19 10:56] laurencei commented on #26
@indigoram89 - did you do a package upgrade today? The reason I ask is we just made some changes to this exact part of code for another issue.

I'm trying to work out if this is from the "new" package today, or the older version (which means it might already be fixed).

[2018-03-19 11:36] indigoram89 commented on #26
@laurencei

Eyewitness version 3.0.0

[2018-03-19 12:56] CaptainHypertext commented on #23
@laurencei Much appreciated!

[2018-03-19 12:57] CaptainHypertext commented on #25
@laurencei Also much appreciated!

[2018-03-29 14:05] forgueam opened #27 "Unable to send Database notification"
I've got roughly 20 or so jobs. All seem to run fine, however, Eyewitness continually throws errors for one specific job. Every hour the same three things happen:

1. I get a warning that "The scheduled cron command *eyewitness:poll* has exited with an error"
1. A Laravel "Unable to send Database notification" exception is thrown
1. A few minutes later a notification that "The scheduled cron comma

[2018-03-30 09:03] laurencei commented on #27
Thanks @forgueam - I've pushed a patch. Can you update to the latest version of Eyewitness?

There's possibly two seperate issues - but I've fixed the one I am sure about. This might provide better clarity on the second issue, or resolve it as well.

Can you let me know how it goes once it's updated? Thanks!

[2018-03-30 20:07] forgueam commented on #27
@laurencei that did the trick, thanks!

[2018-03-30 20:07] #27 closed

[2018-04-10 12:49] CaptainHypertext opened #28 "Undefined variable: domain"
Had this message pop up for me last night, thought I'd pass it along.

**Undefined variable: domain**

File
/var/www/myapp/vendor/eyewitness/eye/app/Api.php at line 151

Stack Trace
0 /var/www/myapp/vendor/eyewitness/eye/app/Api.php(151): Illuminate\Foundation\Bootstrap\HandleExceptions->handleError(8, 'Undefined varia...', '/var/www/myapp...', 151, Array)
1 /var/www/myapp/vendor/eyewitness/eye/ap

[2018-04-13 05:24] laurencei commented on #28
Thanks @CaptainHypertext - I've pushed a fix for that in the latest beta version now.

[2018-04-13 05:24] #28 closed

[2018-04-14 20:14] maclof opened #29 "No history or last run information for some scheduled commands + Duplicate entries"
Hey,

We're using Laravel 5.6 and the dev-beta version of Eyewitness.

Some of our scheduled commands do not track any history of them being run at all and do not track the last run time. The default eyewitness commands have also been duplicated.

I have provided some screenshots below:

Default eyewitness commands at the top of the page:
http://prntscr.com/j5axbh

Duplicate entry for "eyewitness:

[2018-04-14 20:24] maclof commented on #29
If I comment out take(1) in the latest_history() relationship on the scheduler the "Last Run" column shows data as expected:
http://prntscr.com/j5b3t7

[2018-04-20 13:11] denismarinov opened #30 "Documentation URL"
I was excited when I found out about this and proposed it to use in the company I work. However, when I tried to open the documentation all the excitement was gone. Endless loading of ...

https://docs.eyewitness.io/getting-started/installation

[2018-04-20 14:45] laurencei commented on #30
@denismarinov - sorry you ran into issues.

I just checked - and the docs are loading for me:

![image](https://user-images.githubusercontent.com/1210658/39057711-42cae0c2-44fd-11e8-95ac-4b9dd8fac527.png)

Can you please try again? If it doesnt work, are you able to try a different browser? Also, please let me know what browser/version etc you are using - and I'll try to replicate it on my end her

[2018-04-20 15:01] denismarinov commented on #30
@laurencei The issue persists. I am using Chrome Version 65.0.3325.181 (Official Build) (64-bit). I've tried on Firefox 59.0.2 (64-bit) and Opera 52.0.2871.64. Still nothing. I also tried through a VPN and it works. Might be some ISP related issue. Will try later from a different ISP.

Thanks again for the quick response.

[2018-04-21 06:01] laurencei commented on #30
Ok cool - sounds like a traffic issue of some sort then.

Please let me know how it goes. If you run into any other issues - also try opening the Dev Tools (F12) and see if there are any console errors?

We actually host our docs on https://www.gitbook.com/ - so if there are further issues I'm happy to try and get this resolved for you.

[2018-04-26 14:15] denismarinov commented on #30
Maybe indeed was some traffic issue. It works good now.

[2018-04-26 14:15] #30 closed

[2018-05-02 20:41] maclof commented on #29
@laurencei have you any update on this?

[2018-05-04 12:45] CaptainHypertext opened #34 "Disabled SSL grade change alerts, but they still come"
We keep getting alerts from Eyewitness that our SSL grade score has changed.  This happens maybe a couple times a day, so I changed the severity of these alerts to "Disabled", but that hasn't stopped them.  Is this a bug?

Any help is appreciated.

[2018-05-05 09:57] laurencei commented on #34
Hi @CaptainHypertext ,

Just thinking outloud - you might need to run `config:cache` and `queue:restart` to make sure the new config has replicated across?

In regards to the original issue of the score changing constantly - the API uses the HT Bridge scan `https://www.htbridge.com/ssl/`

You can look at the report/score and see why it is constantly changing. It might be an indication of a configu

[2018-05-05 09:58] laurencei commented on #29
@maclof - yes, I think we have a fix, but I'm testing it on some large systems. The reason this code is used was to stop some issues on large data sets, so I need to be sure it wont regress a previous bug.

I'll update this ticket shortly with more info

[2018-05-07 12:41] CaptainHypertext commented on #34
Thanks @laurencei ,
Well, we do use configuration cache and a queue... does Laravel's config power Eyewitness's settings?  I will also check on our SSL config issue.

[2018-05-11 19:49] marktopper opened #36 "InvalidArgumentException : 5 is not a valid position"
Whenever I run a `php artisan` command, I get this error.

[code]

[2018-05-11 20:09] marktopper opened #38 "Call to undefined method Symfony\Component\Process\ProcessUtils::escapeArgument()"
[code]

[2018-05-12 07:02] laurencei commented on #34
@CaptainHypertext - how did you go with this?

[2018-05-12 07:12] laurencei commented on #26
I think this has been fixed by a couple of updates since this was reported. If it continues - please let me know

[2018-05-12 07:12] #26 closed

[2018-05-12 07:13] laurencei commented on #19
At this stage it looks like this was a temporary outage of the API for SSL scans. There's been no other reports of the issue, and we've also improve SSL scanning a little since this time.

Please let me know if you run into any further issues relating to this.

[2018-05-12 07:13] #19 closed

[2018-05-12 09:41] laurencei commented on #22
The latest patch today includes automatic pagination if there are too many results. Please let me know if you have any further issues.

[2018-05-12 09:41] #22 closed

[2018-05-12 09:44] laurencei commented on #13
Hi @36864 - we've pushed a new feature today that includes a "last run time" alert. This means you can set a large window (say 24 hours) for when the job must run at least once.

You can read more about it here: https://docs.eyewitness.io/monitors/scheduler#conditional-schedules

Please let me know if you have any further issues.

[2018-05-12 09:44] #13 closed

[2018-05-12 10:01] laurencei commented on #38
Associated PR pulled in. Thanks!

[2018-05-12 10:01] #38 closed

[2018-05-12 10:02] laurencei commented on #36
Associated PR pulled in. Thanks!

[2018-05-12 10:02] #36 closed

[2018-05-15 15:04] CaptainHypertext commented on #34
@laurencei I think clearing the config cache did it, thanks.

[2018-05-16 02:24] #34 closed

[2018-05-20 13:50] marislazda opened #40 "Update to laravel 5.6"
Updated laravel to 5.6 and noticed error in logs (Not 100% that it's because of  the framework update but haven't seen it before that)

`[2018-05-20 13:47:35] laravel.ERROR: Call to a member function diffForHumans() on null {"exception":"[object] (Symfony\\Component\\Debug\\Exception\\FatalThrowableError(code: 0): Call to a member function diffForHumans() on null at /www/vendor/eyewitness/eye/app/

[2018-05-20 14:26] #40 closed

[2018-05-23 03:24] laurencei commented on #40
@marislazda - out of curiosity - did this resolve it?

[2018-05-23 05:12] marislazda commented on #40
@laurencei Yes. Don't remember what coused that.
If I  remember it right - I just updated eye package

[2018-05-25 09:12] curunoir opened #43 "Charts values miscalculated with null values"
Hello,

when I was writing a custom witness I was surprised to the values showed in the chart. For example the witness always setted the monitored value to **93**

`$this->setValue(93);`

 and the chart showed various values such **10.02**, **23.43** etc
I finally discovered this was due to my tests when I didn't set any monitored value. It looks like null values in eyewitness_io_history_monitors

[2018-05-27 04:30] laurencei commented on #43
Can I ask - in what situation would you sometimes set a value, and not set a value in other cases?

i.e. why not always set the value?

[2018-05-28 00:41] edbizarro opened #45 "eyewitness:poll job eat all server memory"
after last commit, my queue keep eating all my server memory with `eyewitness:poll` job

![](https://i.imgur.com/ImANjWc.jpg?1)

Edit: I'm using the `beta` version

[2018-05-28 00:51] edbizarro commented on #45
It is worth mentioning that I have about to 15.000 failed jobs with a significant payload each

[2018-05-28 07:20] curunoir commented on #43
Well that happened writing a custom witness. At first I didn't set the values then I did every time so I guess it is not a real use case. But what happens when an uncaught exception is catched by Eyewitness ? The documentation says it will handle it like a fail but what about the exception is raised and no value setted ?

[2018-05-28 10:00] alin-o opened #47 "Undefined index: alternate_url in SSL Monitor"
I found this in my error log:
[code]

Still, the SSL monitor reports that my SSL Certificate is valid.

[2018-05-28 12:47] Dries-Vandenneucker commented on #47
https://www.htbridge.com/ssl/#api

Seems that "alternate_url" is no longer part of the response. At least I don't see it in the "Example of Server Response"

[2018-05-30 06:52] laurencei commented on #43
Yep - good point.

I'll make a change for this.

[2018-05-30 06:54] laurencei commented on #45
Do you know how long it was between updates before this occured? i.e. how long before the last update did you do another one?

I'm trying to track down the cause.

[2018-05-30 07:05] laurencei commented on #47
Thanks - should be fixed now in latest patch.

[2018-05-30 07:05] #47 closed

[2018-06-04 12:12] hubertnnn opened #50 "onOneServer schedules cause exception"
Call to undefined method Illuminate\Console\Scheduling\Schedule::allowServerToRun()
at /vendor/eyewitness/eye/app/Commands/Framework/ScheduleRunCommand.php:27

This method was renamed in this commit:
https://github.com/laravel/framework/commit/6563ba65b65106198095f1d61f91e0ec542e98dd#diff-0de50829a544cd21193aef291b5a9baf

[2018-06-04 16:45] hubertnnn opened #51 "login_disabled not working"
When I set 'login_disabled' to true and use a custom middleware for authentication I am redirected to /

[2018-06-05 12:14] laurencei commented on #51
Hi @hubertnnn -

Are you able to provide the middleware that is not working? I'm happy to look into it for you

[2018-06-06 19:14] hubertnnn commented on #51
It was just a simple gate middleware, nothing related to to eyewitness.

It looked something like this:
[code]

The main issue is in here:
https://github.com/eyewitness/eye/blob/af5f44e51cfe130baba1452ee1e656af29f690b8/app/Http/Controllers/AuthController.php#L18-L20

That probably should be a redirect to dashboard instead of /

[2018-06-07 13:17] hubertnnn commented on #51
Also seems like your gate is missing:
[code]

[2018-06-08 13:14] glamorous commented on #50
PR for this issue. This fix is needed because all crons that should run on 1 server only, will fail with a fatal error.

[2018-06-11 02:44] #50 closed

[2018-06-11 03:19] laurencei commented on #51
Thanks @hubertnnn - I've found the issue and put it a fix (along with a test case to prevent regression).

If you update to the latest beta version and try again - it should be resolved. Please let me know if you have any further issues.

[2018-06-11 03:19] #51 closed

[2018-06-11 03:19] laurencei commented on #45
Hi @edbizarro - just touching base. Is this still occuring in the latest beta version of Eyewitness? We've made some small changes - so I'm interested to know if you have any issues still.

Thanks!

[2018-06-11 03:46] laurencei commented on #43
@curunoir - ok - the latest patch today should handle `null` values correctly and not use them as part of the average charting. Let me know how it goes :)

[2018-06-11 03:46] #43 closed

[2018-06-12 12:57] curunoir commented on #43
It looks good, thanks !

[2018-06-13 13:58] ndberg opened #53 "Install Problem with cron schedule"
Just installed eyewitness/eye dev-beta and had to comment a scheduled job:
[code]

otherwise I got this error:
[code]

just for your info.

[2018-06-13 14:04] laurencei commented on #53
We use the new cron expression pacakge under the hood (which Laravel is also switching to) - and it has a much stricter cron ruleset.

So technically `->cron('00 02 01 1,4,7,10 *')` is invalid, because `00` is not considered a valid timestamp by the package.

However - in saying that I'll look into it some more, because that seems a bit excessive... I'll get back you soon.

In the intrim if you se

[2018-07-24 02:14] nexxai opened #54 "Moved servers; how to rebuild crontab?"
We migrated servers but it looks like the crontab file was missed.  Is there a way to quickly rebuild the entry/entries that were in there for EyeWitness?

[2018-08-12 00:59] mikemand opened #57 "cron logs"
Hello, is there a way to turn off the cron logs that get written to `storage/logs`? It seems like every command that runs generates its own `eyewitness-cron-uuid.cron.log` file.

[2018-08-20 14:32] starvsion opened #58 "feature request - Hide Eyewitness Jobs from schedule list"
Hi:

really love eyewitness, great tool! Just hoping that there is a way to hide eyewitness jobs from scheduler tab , thanks

[2018-08-29 04:35] laurencei commented on #57
Hi Mike,

Sorry for the delay. Are the log files causing a problem? They should be deleted when completed?

[2018-09-07 08:29] arukompas commented on #57
@mikemand you can easily edit the layout for the Rap2h log viewer, just publish the assets.

[2018-09-07 08:37] laurencei commented on #57
Hi @mikemand - the files are used to help capture the output of the crons (so you can view the history later).

But they *should* only exist during the cron running, and be removed afterwards.

You can set `capture_cron_output` to `false` in your config, and that will stop them ever been generated.

Out of curosity - are your crons exiting with any errors? I'm trying to see why they are not cleane

[2018-09-07 12:41] karmendra opened #60 "Error in rendering pagination links in Laravel 5.1"
In Laravel 5.1, Under Scheduler Monitor when I click on View under More Column I get following Exception.

In `vendor/eyewitness/eye/resources/views/scheduler/tabs/history.blade.php` line 54 there is code to render pagination using a function called `->links()` as shown below. but this function is not available in Laravel 5.1, instead it uses `->render()` function.

`Line 54: {{ $histories->fragme

[2018-10-03 03:44] kfirba commented on #19
@laurencei Hey.

I get the same error but due to another issue. I'm monitoring 13 application domains and running the SSL check against all of them each hour means 312 scans per day. The API for SSL scans stops you at 251 scans per day:

I guess we need some way to tell Eyewitness how often it should re-check the certs. I think that running the command every hour is a little bit of an over-kill. M

[2018-10-03 08:50] arukompas opened #61 "Route cache display [minor]"
Hey, just installed EyeWitness (amazing tool!). We don't cache the routes, yet it still says "cached".

<img width="326" alt="screenshot 2018-10-03 at 09 48 47" src="https://user-images.githubusercontent.com/8697942/46400200-c0458680-c6f1-11e8-986e-e3b47c70169e.png">

[2018-10-05 05:31] laurencei commented on #19
@kfirba - makes sense.

Perhaps we should make it a config option?

[2018-10-05 05:33] laurencei commented on #61
Thanks - just fixed it now.

[2018-10-05 05:33] #61 closed

[2018-10-05 07:11] kfirba commented on #19
Sounds good. Maybe it’s an opportunity to expose config option for each
monitor scheduled job (including custom monitors)

On Fri, 5 Oct 2018 at 8:31 Laurence Ioannou <notifications@github.com>
wrote:

[2018-10-07 06:54] kfirba opened #63 "Don't run migrations in "testing" environment"
Hey.

I think it would be wise not to run eyewitness migrations if the environment is "testing" (default Laravel's testing environment) or yet even better, make it configurable to decide on which environments to disable eyewitness.

Alternatively, maybe you can expose an "enabled" config option which we can set to "false" in "phpunit.xml" file.

What do you think?

[2018-10-08 03:58] laurencei commented on #63
Hi @kfirba - yeah, great idea.

Leave it with me... I've got some ideas...

[2018-10-08 03:59] laurencei commented on #58
Thanks - I'll add this as a config option shortly.

[2018-10-08 10:00] arukompas commented on #63
Is there any drawback to running those migrations in the local environment? It's just a few extra tables, don't see any harm really.

[2018-10-08 11:49] kfirba commented on #63
Not really, you can safely run them on “local” environment. You actually
*should* run them on “local” environment to ensure you get the result you
expect before deploying.

On Mon, 8 Oct 2018 at 13:00 Arunas Skirius <notifications@github.com> wrote:

[2018-10-29 07:15] kfirba commented on #19
@laurencei anything new regards this issue?

[2018-11-07 18:44] nexxai opened #64 "Your database (default) is offline or not responding"
Hey there,

First of all, I love this product.  It makes monitoring my site so damn easy.

Now for my issue.  I have my entire site (DB and web) on a single server.  This weekend I moved to a new similarly configured server but now I've got thousands of those alerts in the Notifications list.  I'm not sure where it's looking, but as far as the databases in config/database.php go, I haven't changed

[2018-11-08 03:44] laurencei commented on #64
Hi @nexxai - glad you like it :)

For this - have you tried starting all the queues again, as well as flushing the config cache and flushing Opcache?

[2018-11-09 01:04] akki-io opened #65 "[Help Wanted] - Getting 404 when laravel is running behind NGINX proxy"
GET http://127.0.0.1:422/monitor/asset/1538717600/eyewitness.css net::ERR_CONNECTION_REFUSED
monitor:112
GET http://127.0.0.1:422/monitor/asset/1538717600/eyewitness.js net::ERR_CONNECTION_REFUSED

The app URL gets overwritten when using laravel behind nginx proxy.

Any Suggestions?

[2018-11-26 18:59] jzhang917 commented on #45
Mine is the lastest eyewitness, and my laravel version is 5.2. Since around September, eyewitness not working anymore. Keep getting execute time over 30s or 60s error and memory exhausted:
![image](https://user-images.githubusercontent.com/30084009/49035606-24248280-f16a-11e8-8894-6117a9527e6f.png)
I have to give execution time 300s to remove the execution time error. But for the memory error, I c

[2018-12-03 02:49] rlacerda83 opened #66 "Send custom data in custom notification"
Hello!

Is there any way I can send a custom string in custom monitor notifications?

The setValue method only allows the use of numbers. It was the only way I found it.

Thank you

[2019-01-07 00:48] djoks opened #67 "Does Not Work On Live Server"
<img width="1197" alt="screenshot at jan 07 00-44-18" src="https://user-images.githubusercontent.com/5280584/50743942-7b138200-1215-11e9-9c09-c48171e37397.png">

All I get is errors on slack after setting up recipient for notifications:
<img width="801" alt="screenshot at jan 07 00-45-50" src="https://user-images.githubusercontent.com/5280584/50743960-a72f0300-1215-11e9-9941-8948ab2aff2f.png">

My

[2019-01-22 09:57] Lothid commented on #67
I had exactly the same problem. Spent some time figuring it out, because there was absolutely no error other than exitCode = 1.

Check if you have directory "logs" created in your storage path with correct permissions.
Eyewitness stores scheduler output there.

[2019-02-03 20:42] maikenunes opened #68 "ErrorExceptionartisan eyewitness:monitor-ssl --result"
Hey!

This error happens normally once a week, always at the same time, which seems that it would be some issue related to `htbridge.com` (a tool used to check SSL information).
I guess that it happens because the API doesn't return the data as it is supposed to return, then as there isn't validation to check if the response is correct, it generates that error shown on the images attached below.

[2019-03-04 08:32] gauravcanon commented on #12
Hi @xembill I am having still same issue
<img width="1437" alt="screenshot 2019-03-04 14 01 47" src="https://user-images.githubusercontent.com/897747/53720172-14fa5280-3e86-11e9-9a26-6ed9ee849db8.png">

[2019-03-04 08:49] gauravcanon opened #69 "404 Error for CSS and JS file"
CSS and JS not found .
<img width="1437" alt="screenshot 2019-03-04 14 01 47" src="https://user-images.githubusercontent.com/897747/53721162-81765100-3e88-11e9-9495-55151a3a258c.png">

[2019-03-19 16:38] CaptainCannabis opened #71 "Define queue?"
I am using a named queue (not default) for running time consuming jobs. After i installed eyewitness the jobs "Eyewitness\Eye\Queue\Jobs\Sonar" show up in that queue - not in default. How to change that?

[2019-04-02 11:07] sstraakenbroek opened #72 "Composer security check endpoint changed"
The endpoint for testing the composer.lock security is changed. Need to modify this line:

https://github.com/eyewitness/eye/blob/3d6364ebef7e01e5ce535506baf4e3d5b7cc7eba/app/Api.php#L172

New endpoint: https://security.symfony.com/check_lock

[2019-04-04 19:53] patrickcarlohickman commented on #72
Just FYI, I opened a PR (#70) to fix this back on 3/10.

I would keep this issue open until that PR is merged, though.

[2019-04-05 17:41] panique commented on #69
same here

[2019-04-24 23:58] #45 closed